{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allowDeclareFields": true,
        "allowNamespaces": true
      }
    ],
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": "> 0.25%, not dead"
      }
    ]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    }
  },
  "plugins": [
    "const-enum",
    "@babel/plugin-transform-typescript",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-react-jsx"
  ],
  "ignore": [
    "node_modules"
  ]
}